*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #d6dde0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 90%;
    height: 90vh;    
    position: relative;

}
.top{
    width: 100%;
    height: fit-content;
}
.top h1{
    border-radius: 15px;
    width: 100%;
    height:fit-content;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5d7fbb;
    font-size: 80px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.inner-box{
    width: 90%;
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
}
.btns{
    margin-top: 7%;
}
.btns2{
    margin-top: 10%;
}
.btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btns2{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btns2 a:first-child{
    margin-left:21%;
}
.btns2 a:last-child{
    margin-right:21%;
}
button{
    cursor: pointer;
    color: #fff;
    width: 200px;
    height: 70px;
    background-color: #5d7fbb;
    border-radius: 10px;
    box-shadow: 0px 0px 2px #7a7a7a;
    border: 1px solid #bcbec4;
    font-size: 20px;
    transition: 0.1s;
}
button:active{
    transform: scale(0.96);
    box-shadow: 0px 0px 10px black;
}
.msg{
    color: rgb(0, 163, 0);
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 4%;
    font-size: 30px;
    animation: shake 1s cubic-bezier(0.4,0.08,0.2,1);
    transform: translate3d(0,0,0);
}
@keyframes shake{10%,90%{transform: translate3d(-12px,0,0);}30%,70%{transform: translate3d(13px,0,0);}40%,50%{transform: translate3d(-15px,0,0);}}

/*media queries for responsiveness*/
@media (max-width:1470px) and (min-width:1410px) {
    .top h1{
        font-size: 76px;
        }
}
@media (max-width:1410px) and (min-width:1370px) {
    .top h1{
        font-size: 74px;
        }
}
@media (max-width:1370px) and (min-width:1315px) {
    .top h1{
        font-size: 70px;
        }
}
@media (max-width:1315px) and (min-width:1215px) {
    .top h1{
        font-size: 66px;
        font-weight: 400;
        }
}
@media (max-width:1215px) and (min-width:1115px) {
    .top h1{
        font-size: 62px;
        font-weight: 400;
        }
}
@media (max-width:1115px) and (min-width:1030px) {
    .top h1{
        font-size: 58px;
        font-weight: 400;
        }
}